{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>About KP</title>
    <link rel="stylesheet" href="{% static 'st.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,300;1,500&family=Qahiri&display=swap" rel="stylesheet">
<link  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" >
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<script src="https://use.fontawesome.com/18a5f03e14.js"></script>

</head>
<body>
    <section class="sub-header">
      <nav>
          <a href="/"><img src="{% static 'images/logo.png' %}"></a>
          <div class="nav-links" id="navlink">
              <ul>
                <div class="center-me">
                <i class="fa fa-times-circle-o fa-5x" class="size" onclick="hidemenu()" ></i>
              </div>
              <li><a href="/">HOME</a></li>
              <li><a href="about">ABOUT</a></li>
              <li><a href="courses">COURSE</a></li>
                <li><a href="gallery">GALLERY</a></li>
              <li><a href="contact">CONTACT</a></li>
              </ul>
          </div>

            <i class="fa fa-bars fa-5x " onclick="showmenu()"></i>

      </nav>


        <h1>About us</h1>

    </section>

    <!-- about us content -->
<section class="about-us">
  <div class="row">
    <div class="about-col">
      <h1> We Teach Students</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="gallery" class="hero-btn red-btn">EXPLORE</a>
    </div>
    <div class="about-col">
      <img src="{% static 'images/about.jpeg' %}" alt="">
    </div>

  </div>

</section>

   <!-- footer -->
   <section class="footer">
       <h4>About US</h4>
       <p>Knowledge Point is not an institute where you get knowledge but it is the place where your dream turns into reality</p>
   <div class="icons">
     <a href="https://www.facebook.com/Knowledge-Point-KP-112027447164573" <i class="fa fa-facebook fa-3x" ></i></a>
        <a href="https://www.facebook.com/Knowledge-Point-KP-112027447164573" <i class="fa fa-instagram fa-3x" ></i></a>
          <a href="https://www.facebook.com/Knowledge-Point-KP-112027447164573" <i class="fa fa-youtube fa-3x" ></i></a>

   </div>
   <p>Made with <i class="fa fa-heart"></i> by Rohit</p>
    </section>
</body>


<!-- javascript for toggle menu -->
<script>
var nav=document.getElementById("navlink");
function showmenu()
{

    nav.style.display="block";
        nav.classList.add("animate1");
       setTimeout(function(){
           nav.classList.remove("animate1");
       }, 1000);

}
function hidemenu()
{


    nav.classList.add("animate2");
    setTimeout(function(){
        nav.classList.remove("animate2");
        nav.style.display="none";
    }, 1000);

}
</script>
</html>
